<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>{{template "title" .}} - Downtown</title>
    <style>
      .task-downloading h4 {
        color: green;
      }

      .task-waiting h4 {
        color: gray;
      }

      .task-finishing h4 {
        color: gray;
      }

      .task-seeding h4 {
        color: lightskyblue;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <nav>
        <ul>
          <li><h1>{{template "title" .}}</h1></li>
        </ul>
        <ul>
          {{block "nav-links" .}}{{end}}
        </ul>
        <ul>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
      {{template "main" .}}
    </main>
  </body>
</html>
